

	#sample {
		background-image:url(../images/img.gif),url(../images/img1.gif);
		background-position: right top , left top;
		background-size:400px,100px;
		height:800px;
		background-repeat: no-repeat, repeat;
		padding:100px;
	}

	#flower {
		
		height:800px;
		width:800px;
		padding:100px;
		
	}
	
	#leaf1 {
		
		width:100px;
		height:100px;
		border:20px double;
		border-style:solid;
		background: linear-gradient(to left bottom, green, white);
		border-color:#00FFFF blue #00FFFF blue;
		border-radius:0px 100px 0px 100px;
	}
	
	#leaf2 {
		position:absolute;
		width:100px;
		top:210px;
		left:350px;
		height:100px;
		border:20px double;
		border-style:solid;
		background: linear-gradient(to right bottom, green, white);
		border-color:#00FFFF blue #00FFFF blue;
		border-radius:100px 0px 100px 0px;					
	}
	
	#leaf3 {
		
		
		width:100px;
		height:100px;
		border:20px double;
		border-style:solid;
		background: linear-gradient(to left top, green, white);
		border-color:#00FFFF blue #00FFFF blue;
		border-radius:100px 0px 100px 0px;
	}
	
	
	
	#leaf4 {
		position:absolute;
		width:100px;
		top:350px;
		left:350px;
		height:100px;
		border:20px double;
		border-style:solid;
		background: linear-gradient(to left bottom, green, white);
		border-color:#00FFFF blue #00FFFF blue;
		border-radius:0px 100px 0px 100px;					
	}
	