
body {
    background:#AED1ED;
}
.wrapper {
    margin:0 auto;
	width:700px;
	background:#FFF;
	padding-top:5px;
 }
 
.header {
	margin:10px;
    background:#AED1ED;
    height:40px;
	border:1px solid #1E90FF;
    padding-top:20px;
	padding-left:20px;
    font-size:24px;
    font-weight:bold;
}

.container {
	background:#FFF;
	margin:10px;
	height:600px;
}

.picture {
	float:left;
	height:200px;
	width:180px;
	border:1px solid black;
	
}

.info {
	float:left;
	margin-left:10px;
	height:600px;
	width:400px;	
}

.picture img {
	width:174px; 
	height:194px;
	margin:3px;
	
}